<!DOCTYPE html>

<html>
{ % load static % }
  <head>
    <meta charset="utf-8">
    <title>QuestionBoard</title>
  </head>
  <body>
    <form action="index.html" method="post">
      <h2>Question</h2>
      <label for="">Question:</label>
        <input id='question' type="text" name="question" value=""><br>
      <label for="">Description:</label><br>
        <input id='questiontext' type="text" name="description" value=""><br>
      <input id="button" type="submit" value="Submit Question">
    </form>

    <form action="index.html" method="post">
      <h2>Answers</h2>
        <label for="">Question</label>
        <label for="">Answer:</label>
          <input id='answertext' type="text" name="answer" value=""><br>
        <input id="button" type="submit" value="Submit Answer">
    </form>

    <script src="js/jquery-2.2.3.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
