<!DOCTYPE html>

{% load staticfiles %}
{%block content%}
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
    <meta charset="utf-8">
    <title>QuestionBoard</title>
  </head>
  <body>
    <form id="questionform">
      <h2>New Question</h2>
      <label for="">Question:</label>
        <input id='question' type="text" name="question" value=""><br>
      <label for="">Description:</label><br>
        <textarea id='textarea' type="text" name="description" value=""></textarea><br>
      <input id="button" type="submit" value="Submit Question">
    </form>

    <form>
      <h2>Answers</h2>
          <!-- need to display question details here -->
          <p>question and existing answers details go here</p>
        <h3>New Answer</h3>
        <label for="">Answer:</label><br>
          <textarea id='textarea' type="text" name="answer" value=""></textarea><br>
        <input id="button" type="submit" value="Submit Answer">
    </form>

    <form id='list'>
      <h2>List of questions</h2>
        <ul>
          <li>A question title, will be clickable</li>
          <li>Another one</li>
          <li>And another for good measure</li>
        </ul>
    </form>

    <script src="static/js/jquery-2.2.3.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
{% endblock %}
