{% extends "questionbox/base.html" %}
<!DOCTYPE html>

{% load staticfiles %}
{% block content %}
<html>
<body>
<h3>  Question:</h3>
<p>

  {{ question.title }}
</p>

<h3>  Question Description: </h3>
<p>

{{ question.description }}
</p>



<h3>Answers: </h3>
{% if answers_list %}
    <ol>
    {% for answer in answers_list %}
        <li>{{ answer.text }}  User: {{ answer.owner_id }} {{ request.user }} {{ question }} {{ request.user.url }}</li>
    {% endfor %}
    </ol>
{% else %}
    <p>Ain't no answers here</p>
{% endif %}

    <form id="answerform">
        <label for="">Add Answer:</label><br>
        <textarea id='answertext' type="text" name="answer" value=""></textarea><br>
        <input type="hidden" id="questionobj" value= {{ question.id }}>
        <input type="hidden" id="user" value= {{ request.user.id }}>
        <input id="button" type="submit" value="Submit Answer">
    </form>

    <script src="/../../static/js/jquery-2.2.3.js"></script>
    <script src="/../../static/js/main.js"></script>
  </body>
</html>


{% endblock %}
