{% extends "questionbox/base.html" %}
<!DOCTYPE html>
{% load static from staticfiles %}
{% block content %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}" />
    <meta charset="utf-8">
    <title>QuestionBoard</title>
</head>

<body>




<div id='wrapper'>
  <h1>  Question:</h1>

  <h2>{{ question.title }} </h2>
    <p>{{ question.description }}</p>


    <nav>
        <form id='answerlist'>

            <h2>Answers</h2>
        </form>
    <nav>
    <br>
    <form id="answerform">
        {% csrf_token %}
        <label for="">Add Answer:</label><br>
        <textarea id='answertext' type="text" name="answer" value=""></textarea><br>
        <input type="hidden" id="questionobj" value= {{ question.id }}>
        <input type="hidden" id="user" value= {{ request.user.id }}>
        <input id="button" type="submit" value="Submit Answer">
    </form>

    <script src="{% static '/static/js/jquery-2.2.3.js' %}"></script>


    </body>
</html>


{% endblock %}
