{% extends "questionbox/base.html" %}
<!DOCTYPE html>

{% load staticfiles %}
{% block content %}

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static '/static/css/normalize.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}" />
    </head>
      <div id='wrapper'>
          <nav>
              <form id='userquestlist'>
                <input type="hidden" id="questionobj" value= {{ question.id }}>
                <input type="hidden" id="user" value= {{ request.user.id }}>
                  <h2>Your Questions</h2>
              </form>
          <nav>
          <br>

      </div>


      <script src="{% static '/static/js/jquery-2.2.3.js' %}"></script>
      <script src="{% static '/static/js/userQuestions.js' %}"></script>


</body>
</html>

{% endblock %}
