{% extends "questionbox/base.html" %}
<!DOCTYPE html>

{% load staticfiles %}
{% block content %}

<html>
    <head>

      <div id='wrapper'>
          <nav>
              <form id='list'>
                  <h2>List of questions</h2>
              </form>
          <nav>
          <br>
          <form id="questionform">
              <label for="">Question:</label>
              <input id='question' type="text" name="question" value=""><br>
              <label for="">Description:</label><br>
              <textarea id='textarea' type="text" name="description" value=""></textarea><br>
              <input id="button" type="submit" value="Submit Question">
          </form>
      </div>



<script src="/static/js/jquery-2.2.3.js"></script>
<script src="/static/js/main.js"></script>


</body>
</html>

{% endblock %}
