/****************************
GENERAL
****************************/

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
}

header {
    padding-top: 100px;
}

.push {
    height: 4em;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
    max-width: 940px;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}



/****************************
PAGE: INDEX
****************************/

#question {
  width: 472px;
}

#textarea {
  width: 550px;
  height: 150px;
}

input{
  font-size: 15px;
  margin: 5px;
}

/*#list{
  position: absolute;
  top: 30px;
  right: 50px;
}*/



/****************************
NAVIGATION
****************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: block;
    padding: 5px 5px;
}

nav a {
    font-weight: 800;
    padding: 5px 10px;
}


/****************************
COLORS
****************************/

/* site body blue, text white */
body {
    background-color: #3B5998;
    color: #FFF;
}

/* blue header, light blue boarder */
header {
    background: #293E6A;
    border-color: #639BF1;
}

/* dark blue nav background on mobile */
nav {
    background: #293E6A;
}

/* white logo text */
h1, h2 {
    color: #FFF;
}

/* white links */
a {
    color: #FFF;
}

/* bronze nav links */
nav a, nav a:visited {
    color: #B6A754;
}

/* bronze nav links */
nav a.selected, nav a:hover {
    color: #B6A754;
}


/*
#293E6A     dark blue
#3B5998     blue
#639BF1     light blue
#77BA9B     pale green
#B6A754     bronze
*/
