/****************************
GENERAL
****************************/

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
}

.push {
    height: 4em;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
    max-width: 940px;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}



/****************************
PAGE: INDEX
****************************/

#question {
  width: 472px;
}

#textarea {
  width: 550px;
  height: 150px;
}

input{
  font-size: 15px;
  margin: 5px;
}

/*#list{
  position: absolute;
  top: 30px;
  right: 50px;
}*/



/****************************
NAVIGATION
****************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: block;
    padding: 5px 5px;
}

nav a {
    font-weight: 800;
    padding: 5px 10px;
}


/****************************
COLORS
****************************/

/* site body dark blue, text white */
body {
    background-color: #FFF;
    color: #FFF;
}

/* bluish green header, medium blue boarder */
header {
    background: #2F23FF;
    border-color: #2F23FF;
}

/* pale blue nav background on mobile */
nav {
    background: #4873E8;
}

/* slate logo text */
h1, h2 {
    color: #05FFAE;
}

/* medium yellow links */
a {
    color: #05FFAE;
}

/* light yellow nav links */
nav a, nav a:visited {
    color: #05FFAE;
}

/* medium red selected nav links */
nav a.selected, nav a:hover {
    color: #05FFAE;
}


/*#2F23FF   blue
#4873E8     pale blue
#2F23FF     sky blue
#1BE0E8     bluish green
#05FFAE     pale green
*/
